@import './media.scss';
@import './variables';

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  background-color: $secondaryBckgrColor;
}

@include d-media(xl) {
  .container {
    max-width: 90%;
  }
}
