$primaryBckgrColor: #eae6df;
$secondaryBckgrColor: #fff;
$markerBckgrColor: #25d366;
$panelBckgrColor: #f0f2f5;
$messageBckgrColor: #c5e6c1;
$activeBckgrColor: #f0f2f5;

$accentColor: #00a884;

$primaryColor: #667781;
$primaryStrongerColor: #3b4a54;
$buttonColor: #009de2;
$secondaryColor: #41525d;
