@import '../../styles/media.scss';
@import '../../styles/variables.scss';

.layoutContainer {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $primaryBckgrColor;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 127px;
    top: 0;
    background-color: $accentColor;
  }
}

.mainBlock {
  position: absolute;
  content: '';
  left: 0px;
  top: 19px;
  bottom: 19px;
  right: 0px;
}

.defaultError {
  position: fixed;
  color: rgb(254 254 255 / 90%);
  font-size: 1.2rem;
  left: 15%;
  transform: translate(-50%, 50%);
  bottom: 120px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 8px;
  background: rgb(208 41 41 / 30%);
  @include d-media(xs) {
    bottom: 70px;
    z-index: 10000;
    transform: none;
    left: 5%;
  }
}
